#
# Logging configuraton for PerProxy
#

[loggers]
keys=root, main

[logger_root]
level=INFO
handlers=default_log_file, error_log_file

# Logger for main()
[logger_main]
level=DEBUG
handlers=main
qualname=main
propagate=0

######################################################################
#
# Handler configurations

[handlers]
keys=default_log_file, error_log_file, main

[handler_default_log_file]
class=FileHandler
level=NOTSET
formatter=default
args=("PerProxy.log",)

[handler_error_log_file]
class=FileHandler
level=ERROR
formatter=default
args=("PerProxy-errors.log",)

[handler_main]
class=StreamHandler
level=DEBUG
formatter=main
args=(sys.stdout,)

######################################################################
#
# Formatter configurations

[formatters]
keys=default, main

[formatter_default]
format=%(asctime)s:%(threadName)s:%(levelname)s:%(message)s
datefmt=
class=logging.Formatter

[formatter_main]
format=%(message)s
datefmt=
class=logging.Formatter
